body {
  width: 100%;
  background-color: black;
}

h1 {
  margin-top: 3%;
  padding: 2%;
  font-family: 'Tangerine', cursive;
  text-shadow: 2px 2px 2px black;
  font-size: 5em;
  text-align: center;
}

h2 {
  font-family: 'Cormorant Unicase', serif;
  text-align: center;
  font-size: 5em;
}

h3 {
  text-align: center;
  font-family: 'Tangerine', cursive;
}

header {
  height: 400px;
  color: white;
  font-family: 'Tangerine', cursive;
  background-image: url("../img/pink.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

img {
  width: 250px;
}

footer {
  text-align: center;
  font-family: 'Tangerine', cursive;
}

.color {
  height: 100px;
  background-color: #777392;
}

.intro {
  width: 500px;
  margin-top: 5%;
  margin-left: 38%;
  box-shadow: 5px 5px 10px white;
  border: 1px solid black;
  text-align: center;
  background-color: #F4F9E9;
}

.typography {
  background-color: #F4F9E9;
  margin: 5% 25%;
  text-align: center;
  height: 200px;
  box-shadow: 5px 5px 10px white;
  border: 1px solid black;
}

.work_flow {
 margin: 5% 25%;
 text-align: center;
}
