body {
  background-color: black;
  width: 100%;
}

h1 {
  color: #F4F9E9;
  font-family: 'Tangerine', cursive;
  font-size: 5em;
  margin-top: 3%;
  padding: 2%;
  text-align: center;
  text-shadow: 2px 2px 2px black;
}

h2 {
  font-family: 'Cormorant Unicase', serif;
  font-size: 5em;
  text-align: center;
}

h3 {
  color: #F4F9E9;
  font-family: 'Tangerine', cursive;
  text-align: center;
}

header {
  color: white;
  background-image: url("../img/bnw.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Tangerine', cursive;
  height: 400px;
  text-align: center;
}

header h2 {
  padding: 8% 0 0 0;
  text-shadow: 10px 50px #F4F9E9;
  text-decoration: line-through;
}

img {
  width: 300px;
}

footer {
  color: #F4F9E9;
  font-family: 'Tangerine', cursive;
  text-align: center;
}

nav {
  margin-top: 1%;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

span {
  color: pink;
}

.color {
  background-color: pink;
  height: 100px;
}

.intro {
  background-color: #F4F9E9;
  border: 1px solid black;
  box-shadow: 5px 5px 10px white;
  margin: 5% 0 5% 38%;
  text-align: center;
  width: 500px;
}

.typography {
  background-color: #F4F9E9;
  border: 1px solid black;
  box-shadow: 5px 5px 10px white;
  height: 200px;
  margin: 5% 25%;
  text-align: center;
}

.work_flow {
 margin: 5% 25%;
 text-align: center;
}
